<h1>WELCOME TO THE GAME STAGE!!!</h1>
<p>PLACEHOLDER TEXT!!!!!</p>

<p>Waiting for challenge to be accepted!</p>

<p id="timer">Seconds: </p>

<div id="sorry"></div>
<div id="game"></div>

<script src="~/js/ChallengeWaitSpam.js"></script>
<script src="~/js/game.js"></script>