
@model GameState


<h1>WELCOME TO THE GAME STAGE!!!</h1>
<p>PLACEHOLDER TEXT!!!!!</p>

<p>Waiting for challenge to be accepted!</p>

<p id="timer">Seconds: </p>

<div id="sorry"></div>
<div id="game"></div>


<h1>@Model.Parties[0].Characters[0].Health</h1>
<h1>@Model.Parties[0].Characters[3].AttackPower</h1>
<h1>@Model.Parties[0].Characters[4].Avatar_Name</h1>
<h1>@Model.Parties[0].User.LastName</h1>






















<script src="~/js/ChallengeWaitSpam.js"></script>