@model User
<p>Challenging User! @Model.FirstName</p>

<p>Waiting for challenge to be accepted!</p>

<p id="timer">Seconds: </p>

<div id="sorry"></div>
<div id="game"></div>

<script src="~/js/ChallengeWaitSpam.js"></script>