@model User
<p>Challenging User! @Model.FirstName</p>

<p>Waiting for challenge to be accepted!</p>

<p id="timer">Seconds: </p>

<a href="/lobby">Back to Lobby</a>

<script src="ChallengeWaitSpam.js"></script>