@{
ViewData["Title"] = "Home Page";
}
@using Hostility_Skirmish.Models
@model User

<div id="hi"> </div>
<div id="hi2"></div>
<div id="hi3"></div>

<div class="row">
        <div class="col-sm-6">
            <div class="card">
                <h1>Hostility Skirmish</h1>
            </div>
            <div class="card">
                <div class="box">
                    <img class="char-img" src="~/images/1.png" alt="">
                    <img class="char-img" src="~/images/2.png" alt="">
                    <img class="char-img" src="~/images/3.png" alt="">
                    <img class="char-img" src="~/images/4.png" alt="">
                    <img class="char-img" src="~/images/6.png" alt="">
                </div>
                <div class="box">
                    <img class="char-img" src="~/images/7.png" alt="">
                    <img class="char-img" src="~/images/8.png" alt="">
                    <img class="char-img" src="~/images/9.png" alt="">
                    <img class="char-img" src="~/images/10.png" alt="">
                    <img class="char-img" src="~/images/11.png" alt="">
                </div>
            </div>
            <div class="card">
                <h1>Test</h1>
            </div>
        </div>

        <div class="col-sm-5">
            <div class="card">
                    <div class="media border p-3">
                            <img src="~/images/fight.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                            <div class="media-body">
                              <h4>John Doe</h4>
                              <small><i>Last Logged-in on February 19, 2016</i></small>
                            </div>
                          </div>
                    <div class="media border p-3">
                            <img src="~/images/fight.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
                            <div class="media-body">
                              <h4>John Doe </h4>
                              <small><i>Last Logged-in on February 19, 2016</i></small>
                              <p>Lorem ipsum...</p>
                            </div>
                          </div>
            </div>
            <div class="card">
                <h2>Test</h2>
            </div>
        </div>
      </div>

      <script src="~/js/lobby.js"></script>