@{
ViewData["Title"] = "Home Page";
}
@using Hostility_Skirmish.Models
@model List<User>

<a class="build-team btn btn-info" href="/build/buildteam"><p>Build Team</p></a>
<a class="logout btn btn-info" href="/logout"><p>LogOut</p></a>


<div id="test"  class="challenged">
    <a class="btn btn-danger" href="Game"> You Have been challenged!!</a>
</div>

<div class="card">
    <img class="lobbybk" src="~/images/Lobbybk.jpg" alt="">
        <div class="card logged-user" id="user_display"></div>
</div>
 <!-- <div  class="col-sm-5 ">
            <div class="card" id="user_display"></div>
        </div> -->

       
      

      <script src="~/js/lobby.js"></script>