/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.card{
  padding: 20px;
  box-shadow: 2px 2px 2px 2px slategray;
}
.btn-secondary{
  /* display: inline-block; */
  float: right;
}
h1{
  display: inline-block;
}
span{
  color: red;
  font-size: 12px;
}
.char-img {
  left: 20px;
  width: 46px;
  /* background: url('~/images/finalfantasy6sheet1.gif') 0 0; */
}

.info{
  border-bottom: 2px solid black;
}

input {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  outline: none;
}

.abil{
  margin-top: 10px;
  border: 2px solid black;
}

input{
  color: red;
  font-weight: bold;
}

.btn{
  margin-top: 10px;
}
.box{
  border: 1px solid black;
}
.lobby{
  left: -111px;
  width: 150px;
  position: absolute;
  padding: 0;
}
.lobby:hover{
  left: -32px;
  transition: .5s ease-in;
}

.info-box{
  width: 250px;
  position:absolute;
  top: 100px;
  left: -209px;
}
.info-box:hover{
  left: 0px;
  transition: .5s ease-in;
  z-index: 1;
}
.info-col{
 margin-right: 20px;
}


.lobby p{
  transform: rotate(-90deg);
  margin:20px 0 20px 0 ;
  float: right;
  font-weight: bold;
}
.col-1 p{
  transform: rotate(-90deg);
  margin:20px -20px 20px 0 ;
  float: right;
  font-weight: bold;
  font-size: 20px;
  margin-top: 84px;
}

#game-img{
  background-size: cover;
  position: relative;
}
#game-stage{
  position: absolute;
}

#test{
  display: none;
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 300px;
}

/* .char-card:hover {
  border: 3px solid red;
} */


/* .item{
  width: 
} */


